@using System.Web
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>پایش سامانه</title>
    <!-- Favicon-->

    <title>@ViewData["Title"]</title>

    @await Html.PartialAsync("_AdminLinks")
    @await Html.PartialAsync("_AdminScripts")

    @await RenderSectionAsync("Styles", false)
</head>
<body class="theme-blue-Custom">

    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>لطفا صبر نمایید .....</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
        <input type="text" placeholder="جستجو...">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" asp-controller="Admin" asp-action="Index">سیستم جامع پایش سامانه ها</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>

                    <!-- Call Search -->
                    <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
                    <!-- #END# Call Search -->
                    <!-- Notifications -->

                    @*@await Html.PartialAsync("_Notifications")*@
                    @await Component.InvokeAsync("Notifications");

                    <!-- #END# Notifications -->
                    <!-- Tasks -->

                    @await Html.PartialAsync("_Tasks")
                    <!-- #END# Tasks -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            @await Html.PartialAsync("_UserInfo")
            <!-- #User Info -->
            <!-- Menu -->
            @*@await Html.PartialAsync("_Sidebar")*@
            @await Component.InvokeAsync("SideBar");
            <!-- #Menu -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        @*<aside id="rightsidebar" class="right-sidebar">
                @Html.Partial("_SettingMenu")
            </aside>*@

        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">

            @RenderBody()

        </div>
    </section>

    @*<input id="Success" type="hidden" value="@(TempData["Success"])"/>
        <input id="Warning" type="hidden" value="@TempData["Warning"]"/>
        <input id="Info" type="hidden" value="@TempData["Info"]"/>
        <input id="Error" type="hidden" value="@TempData["Error"]"/>*@





    @await RenderSectionAsync("Scripts", false)

   


</body>
</html>
