<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Lavish - Free Responsive Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="templatemo">


    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <title>@ViewData["Title"]</title>

    @Html.Partial("_Links")

    @RenderSection("Styles", false)

</head>
<body>

    
    @RenderBody()



    @Html.Partial("_Scripts")

    @RenderSection("Scripts", false)

</body>
</html>