@model Core.ViewModels.CreateTeamVM

<div class="body">

    <form asp-action="CreateTeam" id="CreateForm">
        @Html.HiddenFor(x => x.Team.Id)
        <div id="SubUser">
            @for (int i = 0; i < Model.Details.Count; i++)
            {

                <div class="row clearfix">

                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="form-line">

                                <label asp-for="@Model.Details[i].UserId" class="control-label"></label>
                                @*<input asp-for="@item.UserId" class="form-control" />*@
                                <select id="Post" class="form-control show-tick" data-live-search="true" searchable="جستجو..."
                                        asp-for="@Model.Details[i].UserId" asp-items="@(ViewBag.Users)">
                                    <option value="">--انتخاب نمایید--</option>
                                </select>
                                <span asp-validation-for="@Model.Details[i].UserId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label asp-for="@Model.Details[i].Position" class="control-label"></label>
                                <input asp-for="@Model.Details[i].Position" class="form-control" />
                                <span asp-validation-for="@Model.Details[i].Position" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row clearfix">
            <div class="col-sm-4">
                <a class="btn bg-grey waves-effect" onclick="AddSubUser()"> افزودن عضو </a>
            </div>
        </div>
    </form>
</div>

<script>

        function AddSubUser() {
            var data = $("#CreateForm").serialize();
            debugger;
            $.ajax({
                url: "@Url.Action("AddSubUser", "BasicInformation")",
                data: data,
                type: "POST",
                success: function (result) {
                    $("#SubUser").html("");
                    $("#SubUser").html(result);
                }
            });
    }


</script>
