@model Core.ViewModels.CreateTeamVM

@for (int i = 0; i < Model.Details.Count; i++)
{

    <div class="row clearfix">
        <div class="col-sm-4">
            <div class="form-group">
                <div class="form-line">
                    <label asp-for="@Model.Details[i].UserId" class="control-label"></label>
                    <select id="Post" class="form-control show-tick" data-live-search="true" searchable="جستجو..."
                            asp-for="@Model.Details[i].UserId" asp-items="@(ViewBag.Users)">
                        <option value="">--انتخاب نمایید--</option>
                    </select>
                    <span asp-validation-for="@Model.Details[i].UserId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="form-line">
                    <label asp-for="@Model.Details[i].Position" class="control-label"></label>
                    <input asp-for="@Model.Details[i].Position" class="form-control" />
                    <span asp-validation-for="@Model.Details[i].Position" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

}