
@{
    Layout = null;
}
@using System.Security.Claims
@using Core.AccessConst
@using Newtonsoft.Json

@{
    var rolesJson = JsonConvert.SerializeObject(ViewBag.Roles);

    var roles = (User.Identity as ClaimsIdentity)?.Claims.Where(x => x.Type == ClaimTypes.Role).Select(x => x.Value).ToList();
}

<style>
    .sidebar-menu {
    }
</style>

<script>
    
    debugger;
    var roles = JSON.parse('@Html.Raw(rolesJson)');
    $(document).ready(function () {

        var menu = $(".sidebar-menu");
        console.log('***');
        console.log(menu);
        console.log('***');
        menu.find("li[user-access]").each(function () {
            var access = $(this).attr("user-access").split(",");
            var hassAccess = false;


            for (var i = 0; i < access.length; i++) {
                if (roles.indexOf(access[i]) !== -1) {
                    hassAccess = true;
                    break;
                }
            }
            if (!hassAccess) {
                $(this).remove();
            }


            //console.log('---');
            //console.log(access);
            //console.log(hassAccess);
            //console.log('---');

        });
        console.log('***');
        console.log(menu);
        console.log('***');

        menu.find("li:not([user-access])").each(function () {
            if ($(this).children("a[href^=javascript]").length > 0 && $(this).children("ul").children("li").length === 0) {
                $(this).remove();
            }
        });
        menu.find("li:not([user-access])").each(function () {
            if ($(this).children("a[href^=javascript]").length > 0 && $(this).children("ul").children("li").length === 0) {
                $(this).remove();
            }
        });
        menu.find("li:not([user-access])").each(function () {
            if ($(this).children("a[href^=javascript]").length > 0 && $(this).children("ul").children("li").length === 0) {
                $(this).remove();
            }
        });
    });

    function SideBarClick(Access) {
        $.ajax({
            url: "@Url.Action("SelectedLink", "Home")?Access=" + Access  ,
            type: "POST",
            success: function (result) 
        });
    }


</script>



<div class="menu">
    <ul class="list sidebar-menu">
        <li >
            <a asp-controller="Admin" asp-action="Index">
                <i class="material-icons">home</i>
                <span>داشبورد</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">swap_calls</i>
                <span>مدیریت کاربران</span>
            </a>
            <ul class="ml-menu">
                <li user-access="@AccessConst.BaseInfo" onclick="SideBarClick(@AccessConst.BaseInfo)">
                    <a asp-controller="BasicInformation" asp-action="Index">اطلاعات پایه</a>
                </li>
                <li user-access="@AccessConst.UserList" onclick="SideBarClick(@AccessConst.UserList)">
                    <a asp-controller="Account" asp-action="Index">لیست کاربران</a>
                </li>
                <li>
                <li user-access="@AccessConst.AddAccessGroup" onclick="SideBarClick(@AccessConst.AddAccessGroup)">
                    <a asp-controller="Access" asp-action="AccessGroups">گروه های کاربری</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">assignment</i>
                <span>مدیریت پروژه ها</span>
            </a>
            <ul class="ml-menu">
                <li user-access="@AccessConst.TeamInfo" onclick="SideBarClick(@AccessConst.TeamInfo)">
                    <a asp-controller="BasicInformation" asp-action="TeamInformation">اطلاعات پایه</a>
                </li>
                <li user-access="@AccessConst.VersionInfo" onclick="SideBarClick(@AccessConst.VersionInfo)">
                    <a asp-controller="Versions" asp-action="Index">نسخه های پروژه ها</a>
                </li>
                <li user-access="@AccessConst.ProjectList" onclick="SideBarClick(@AccessConst.ProjectList)">
                    <a asp-controller="Project" asp-action="Index">لیست پروژه ها</a>
                </li>
                <li user-access="@AccessConst.ProjectComments" onclick="SideBarClick(@AccessConst.ProjectComments)">
                    <a asp-controller="Comment" asp-action="Comments">نظرات</a>
                </li>

            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">insert_chart</i>
                <span>ثبت نتایج آزمون ها</span>
            </a>
            <ul class="ml-menu">
                <li user-access="@AccessConst.AddDocReview" onclick="SideBarClick(@AccessConst.AddDocReview)">
                    <a asp-controller="ProjectInfo" asp-action="DocReview">اطلاعات بررسی سند</a>
                </li>
                <li user-access="@AccessConst.AddCodeReview" onclick="SideBarClick(@AccessConst.AddCodeReview)">
                    <a asp-controller="ProjectInfo" asp-action="CodeReview">اطلاعات بررسی کد</a>
                </li>
                <li user-access="@AccessConst.AddLoadAndStress" onclick="SideBarClick(@AccessConst.AddLoadAndStress)">
                    <a asp-controller="ProjectInfo" asp-action="LoadAndStress">آزمایش های بار / فشار</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">pie_chart</i>
                <span>گزارشات</span>
            </a>
            <ul class="ml-menu">
                <li user-access="@AccessConst.FunctionalReport" onclick="SideBarClick(@AccessConst.FunctionalReport)">
                    <a asp-controller="Reports" asp-action="FunctionalReport">گزارشات عملکردی</a>
                </li>
                <li user-access="@AccessConst.NonFunctionalReport" onclick="SideBarClick(@AccessConst.NonFunctionalReport)">
                    <a href="#">گزارشات غیر عملکردی</a>
                </li>
                <li user-access="@AccessConst.ApiReport" onclick="SideBarClick(@AccessConst.ApiReport)">
                    <a href="#">گزارشات سرویس ها</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
