

@using Newtonsoft.Json

@using Core.Helper
@using Domain.Models.Enum

@model Core.ViewModels.AggregateReportVM

<style>
    #container {
        height: 500px;
    }

    .highcharts-figure,
    .highcharts-data-table table {
        min-width: 320px;
        max-width: 700px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #ebebeb;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }

    .Showcenter {
        text-align: center !important;
        /*background-color: aliceblue !important;*/
        font-size: 24px !important;
    }
</style>


<div class="card">
    <div class="header">
        <h2>نمودارها</h2>
    </div>
    <div class="body">

        @if (ViewBag.hasCode == true)
        {

            <div class="row clearfix">
                <div class="Showcenter"> گزارشات بررسی کد</div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <figure class="highcharts-figure">
                        <div id="MatchingBarChart"></div>
                    </figure>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <figure class="highcharts-figure">
                        <div id="BarChart"></div>
                    </figure>
                </div>
            </div>
        }
        @if (ViewBag.hasDoc == true)
        {
            <div class="row clearfix">
                <div class="Showcenter"> گزارشات بررسی سند</div>
            </div>
            <div class="row clearfix">
                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                    <thead style=" background: cornflowerblue;">
                        <tr>
                            <th class="align-right">نسخه</th>
                            <th class="align-right">وضعیت نمودار توالی</th>
                            <th class="align-right">وضعیت نمودار فعالیت</th>
                            <th class="align-right">وضعیت نمودار کاربرد</th>
                            <th class="align-right">وضعیت نمودار کلاس</th>
                            <th class="align-right">وضعیت ماژول ها</th>
                            <th class="align-right">وضعیت شرح فعالیت</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DocReviewVersionsList)
                        {
                        <tr>
                            <th class="align-right">@item.Version </th>
                            <th class="align-right">@item.SequenceDiagram.ToDescription() </th>
                            <th class="align-right">@item.ActivityDiagram.ToDescription() </th>
                            <th class="align-right">@item.ApplicationDiagram.ToDescription() </th>
                            <th class="align-right">@item.ClassDiagram.ToDescription() </th>
                            <th class="align-right">@item.Modules.ToDescription() </th>
                            <th class="align-right">@item.ActivityDescription.ToDescription() </th>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        @if (ViewBag.HasLoad == true)
        {
            <div class="row clearfix">
                <div class="Showcenter"> گزارشات تست بار و فشار</div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead style=" background: cornflowerblue;">
                            <tr>
                                <th class="align-right">نسخه</th>
                                <th class="align-right">زمان پاسخگویی </th>
                                <th class="align-right">توانایی سرور </th>
                                <th class="align-right">انحراف </th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.CreateLoadOrStrssTests)
                        {
                            <tr>
                                <th class="align-right">@item.Version </th>
                                <th class="align-right">@item.AveTime </th>
                                <th class="align-right">@item.Throughput </th>
                                <th class="align-right">@item.Deviation </th>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <figure class="highcharts-figure">
                        <div id="LoadBarChart"></div>
                    </figure>
                </div>
            </div>
        }
    </div>
</div>

@{
    var CountJson = JsonConvert.SerializeObject(Model.AllCountRow);
}
<script>

    var Counts = JSON.parse('@Html.Raw(CountJson)');

    debugger;

    var chert = Highcharts.chart('MatchingBarChart',
        {
            chart: {
                type: 'column'
            },
            title: {
                text: 'شاخص های عملکرد'
            },
            xAxis: {
                categories:
                    @Html.Raw(JsonConvert.SerializeObject(Model.CodeReviewVersions))
                ,
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'نمره عملکرد'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
                {
                    name: 'تعداد کل خطوط',
                    data : @Html.Raw(CountJson),
                    @*data: @(Model.CodeReviewVersionsList.Select(x=>x.AllCountRow).ToArray()),*@
                    color: '#24C8F1'

                }, {
                    name: 'تطابق دقیق',
                    data: @Html.Raw(JsonConvert.SerializeObject(Model.AccurateMatch)),
                    @*data: @(Model.CodeReviewVersionsList.Select(x=>x.AccurateMatch).ToArray()),*@
                    color: '#F58F22'

                }, {
                    name: 'تطابق زیاد',
                    data: @Html.Raw(JsonConvert.SerializeObject(Model.HighMatch)),
                    @*data: @(Model.CodeReviewVersionsList.Select(x=>x.HighMatch).ToArray()),*@
                    color: '#BBB8AC'

                }, {
                    name: 'تطابق معمولی',
                    data: @Html.Raw(JsonConvert.SerializeObject(Model.NormalMatch)),
                    @*data: @(Model.CodeReviewVersionsList.Select(x=>x.NormalMatch).ToArray()),*@
                    color: '#FAAE30'

                }, {
                    name: 'تطابق ضعیف',
                    data: @Html.Raw(JsonConvert.SerializeObject(Model.PoorMatch)),
                    @*data: @(Model.CodeReviewVersionsList.Select(x=>x.PoorMatch).ToArray()),*@
                    color: '#1D5DFA'

                }
            ]
        });



    Highcharts.chart('BarChart',
        {
            chart: {
                type: 'column'
            },
            title: {
                text: 'شاخص های عملکرد'
            },
            xAxis: {
                categories: 
                    @Html.Raw(JsonConvert.SerializeObject(Model.CodeReviewVersions))
                ,
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'نمره عملکرد'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
                {
                    name: 'خوانایی کد',
                    data: @Html.Raw(JsonConvert.SerializeObject(Model.Readability)),
                    color: '#24C8F1'

                }, {
                    name: 'شی گرایی',
                    data: @Html.Raw(JsonConvert.SerializeObject(Model.ObjectOriented)),
                    color: '#F58F22'

                }, {
                    name: 'ایمنی کد',
                    data: @Html.Raw(JsonConvert.SerializeObject(Model.CodeSecurity)),
                    color: '#BBB8AC'

                }, {
                    name: 'استفاده از منابع',
                    data: @Html.Raw(JsonConvert.SerializeObject(Model.UseOfResources)),
                    color: '#FAAE30'

                }, {
                    name: 'شاخص های پیچیدگی',
                    data: @Html.Raw(JsonConvert.SerializeObject(Model.Complexity)),
                    color: '#1D5DFA'

                }, {
                    name: 'هشدارهای IDE',
                    data: @Html.Raw(JsonConvert.SerializeObject(Model.Warning)),
                    color: '#FAE029'

                }
            ]
        });
</script>


<script>
    Highcharts.chart('LoadBarChart',
        {
            chart: {
                type: 'column'
            },
            title: {
                text: 'شاخص های عملکرد'
            },
            xAxis: {
                categories: @Html.Raw(JsonConvert.SerializeObject(Model.CreateLoadOrStrssTests.Select(x=>x.Version).ToArray()))
                ,
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'نمره عملکرد'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
                {
                    name: 'کل درخواست ها',
                    data: @Html.Raw(JsonConvert.SerializeObject(Model.CreateLoadOrStrssTests.Select(x=>x.TotalRequest).ToArray())),
                    color: '#80b3ff'

                }, {
                    name: 'درخواست های موفق',
                    data: @Html.Raw(JsonConvert.SerializeObject(Model.CreateLoadOrStrssTests.Select(x => x.SuccessRequest).ToArray())),
                    color: '#009933'

                }, {
                    name: 'درخواست های خطا',
                    data: @Html.Raw(JsonConvert.SerializeObject(Model.CreateLoadOrStrssTests.Select(x => x.FailRequest).ToArray())),
                    color: '#b30000'

                }
            ]
        });


</script>

