

@using Domain.Models.Enum
@using Core.Helper
@model List<Core.ViewModels.TestHeaderVM> 
<table class="table table-bordered table-striped table-hover js-basic-example dataTable">
    <thead>
    <tr>
        <th class="align-right">نوع تست</th>
        <th class="align-right">عنوان تست</th>
        <th class="align-right">تاریخ ثبت</th>
        <th class="align-right">نام پروژه</th>
        <th class="align-right">نسخه پروژه</th>
        <th class="align-right">تعداد کل خطوط</th>
        <th class="align-right">گروه های تطابق</th>
        <th class="align-right">عملیات</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th class="align-right">نوع تست</th>
        <th class="align-right">عنوان تست</th>
        <th class="align-right">تاریخ ثبت</th>
        <th class="align-right">نام پروژه</th>
        <th class="align-right">نسخه پروژه</th>
        <th class="align-right">تعداد کل خطوط</th>
        <th class="align-right">گروه های تطابق</th>
        <th class="align-right">عملیات</th>
    </tr>
    </tfoot>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <th class="align-right">@item.TestType.ToDescription() </th>
            <th class="align-right">@item.Title</th>
            <th class="align-right">@item.DateInserted.GetPrsianDate()</th>
            <th class="align-right">@item.ProjectName</th>
            <th class="align-right">@item.Version</th>
            <th class="align-right">@item.AllCountRow</th>
            <th class="align-right">@item.MatchGroups</th>
            <th class="align-right">
                <a class="btn bg-amber waves-effect" onclick="DeleteCode(@item.Id)"> حذف سند </a>
                <a class="btn bg-light-green waves-effect" onclick="EditCode(@item.Id)"> ویرایش سند </a>
                <a class="btn bg-grey waves-effect" onclick="showCodeModal(@item.Id)"> گزارش سند </a>
            </th>
        </tr>
    }
    </tbody>
</table>