@using Domain.Models.Enum
@model Core.ViewModels.CreateTestVM
@{
    ViewData["Title"] = "ثبت تحلیل سند";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles
{

    <!-- Show Tabs Css -->
    <link href="~/css/InsertTabs.css" rel="stylesheet" />
}

<div class="card">
    <div class="header bg-blue-grey">
        <h2>
            ثبت تحلیل سند
        </h2>
    </div>
    <div class="body">

        <div class="VerticalSubmit">
            <div id="Steps" class="CommitSteps">
                <ul>
                    <li id="FirstStep" class="current" onclick="FirstStep()">
                        <a href="#FirstContent">
                            <span class="number">1.</span>
                            ثبت اطلاعات اولیه
                        </a>
                    </li>
                    <li id="SecondStep" class="disabled" onclick="SecondStep()">
                        <a href="#SecondContent">
                            <span class="number">2.</span>
                            ثبت اطلاعات تکمیلی
                        </a>
                    </li>
                </ul>
            </div>

            <div id="Content" class="CommitContent">

                <form id="ContentForm" asp-action="PostCreateDocReview" method="post" enctype="multipart/form-data">
                    <div id="FirstContent" class="ShowDisplay">
                        <div class="row clearfix CommitContentRow">
                            <div class="col-sm-8 Margin-b">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="form-line">
                                        <label asp-for="TestType" class="control-label"></label>
                                        <select id="Type" class="form-control show-tick" asp-for="TestType" asp-items="Html.GetEnumSelectList<TestType>()">
                                            <option value="">--انتخاب نمایید--</option>
                                        </select>
                                        <span asp-validation-for="TestType" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix CommitContentRow">
                            <div class="col-sm-8 Margin-b">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="form-line">
                                        <label asp-for="TitleId" class="control-label"></label>

                                        <select id="TestTitle" class="form-control show-tick" asp-for="TitleId" asp-items="@(ViewBag.TestTitle)">
                                            <option value="">--انتخاب نمایید--</option>
                                        </select>
                                        <span asp-validation-for="TitleId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix CommitContentRow">
                            <div class="col-sm-4 Margin-b">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="form-line">
                                        <label asp-for="ProjectId" class="control-label"></label>
                                        <select id="Projects" class="form-control show-tick" asp-for="ProjectId" asp-items="@(ViewBag.Projects)">
                                            <option value="">--انتخاب نمایید--</option>
                                        </select>
                                        <span asp-validation-for="ProjectId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 Margin-b" id="VersionDropdown">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="form-line">
                                        <label asp-for="VersionId" class="control-label"></label>
                                        <select id="version" class="form-control show-tick" asp-for="VersionId" asp-items="@(ViewBag.Version)">
                                            <option value="">--انتخاب نمایید--</option>
                                        </select>
                                        <span asp-validation-for="VersionId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                        <div class="row clearfix CommitContentRow">
                            <div class="col-sm-8 Margin-b">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="form-line">
                                        <label asp-for="ExpertComment" class="control-label"></label>
                                        <input asp-for="ExpertComment" class="form-control" />
                                        <span asp-validation-for="ExpertComment" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div id="SecondContent" class="hideDisplay">

                        @for (int i = 0; i < Model.DocReviewList.Count; i++)
                        {
                            @Html.Hidden("Model.DocReviewList[" + i + "].DocReviewTitle", Model.DocReviewList[i].DocReviewTitle)
                            <div class="row clearfix CommitContentRow">

                                <div class="col-sm-12">
                                    <div class="form-group Margin-b Margin-t">
                                        <div class="form-line">
                                            <label class="control-label">
                                                @Model.DocReviewList[i].DocReviewTitle.ToDescription()
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix CommitContentRow">
                                <div class="col-sm-5 Margin-b">
                                    @foreach (DocReviewAnswer Answersub in Enum.GetValues(typeof(DocReviewAnswer)))
                                    {

                                        var _id = "DocReviewList_" + i + "_Answersub" + (int)Answersub;

                                        //DocReviewList[i].DocReviewAnswer
                                        <div class="col-sm-4 Margin-b">
                                            <div class="form-check form-check-inline">
                                                @*<input class="form-check-input" type="radio" name="@Model.DocReviewList[i].DocReviewAnswer" asp-for="DocReviewList[i].DocReviewAnswer" id="@(Model.DocReviewList[i].DocReviewTitle)+@((int) Answersub)" value="@((int) Answersub)">*@
                                                @Html.RadioButton("Model.DocReviewList[" + i + "].DocReviewAnswer", (int)Answersub, new { HtmlAttributes = new { @class = "form-check-input" }, @id = _id })
                                                <label class="form-check-label" for="@_id"> @Answersub.ToDescription()</label>
                                            </div>
                                        </div>

                                    }
                                </div>

                                <div class="col-sm-1 Margin-b">
                                    <div class="form-group Margin-b Margin-t">
                                        <label asp-for="@Model.DocReviewList[i].Description" class="control-label"></label>

                                        @*@Html.Label("Model.DocReviewList[" + i + "].Description", Model.DocReviewList[i].Description, new { HtmlAttributes = new { @class = "control-label" }})*@
                                    </div>
                                </div>

                                <div class="col-sm-5 Margin-b">
                                    <div class="form-group Margin-b Margin-t">
                                        <div class="form-line">
                                            @*<input asp-for="@Model.DocReviewList[i].Description" class="form-control" />*@


                                            @Html.Editor("Model.DocReviewList[" + i + "].Description", new { HtmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<div class="row clearfix CommitContentRow">

                                <div class="form-group">
                                    <label> ضمائم </label>

                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <span class="btn btn-azure btn-file InputFileBorder">
                                                Browse <input type="file" id="@(Model.DocReviewList[i].DocReviewTitle)" multiple="multiple" name="@(Model.DocReviewList[i].DocReviewTitle)" value="Image...">
                                            </span>
                                        </span>
                                        <input  type="text" id="SecondFileText" class="form-control TextInputFile" readonly="">
                                    </div>

                                </div>

                            </div>*@

                        }

                    </div>

                </form>
            </div>

            <div id="Actions" class="CommitAction">

                <ul>
                    <li id="previous" onclick="previousStep()" class="ShowDisplay disabled">
                        <a>قبل</a>
                    </li>
                    <li id="next" class="waves-effect ShowDisplay" onclick="nextStep()">
                        <a>بعد</a>
                    </li>
                    <li id="Finish" class="waves-effect hideDisplay" onclick="finish()">
                        <a>ثبت</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @await Html.PartialAsync("_DuplicateInsertTabs")


<script>

    $(document).ready(function() {

        $('#Projects').change(function () {

            var ProjectId = $('#Projects').val();

            $.ajax({
                url: "@Url.Action("VersionDropDownItem", "Versions")?ProjectId=" + ProjectId  ,
                type: "POST",
                success: function (result) {
                    $("#VersionDropdown").html(result );

                }
            });


        });

    });



        function finish() {

            var content = $("#ContentForm").serialize();
            debugger;
            $.ajax({
                url: "@Url.Action("PostCreateDocReview", "ProjectInfo")?" + content,
                //data: data,
                type: "POST",
                //dataType: 'json',
                /* contentType: 'application/x-www-form-urlencoded; charset=UTF-8',*/
                success: function(result) {
                    if (result.succeed) {
                        toastr["success"]("با موفقیت ثبت گردید");
                        window.location.href = '@Url.Action("DocReview", "ProjectInfo")';
                    } else {
                        toastr["error"]("ثبت نگردید");
                    }
                }
            });


        }

</script>
}
