@using Domain.Models.Enum
@model Core.ViewModels.CreateCodeReviewVM
@{
    ViewData["Title"] = "ثبت بررسی کد";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section Styles
{
    <!-- Show Tabs Css -->
    <link href="~/css/InsertTabs.css" rel="stylesheet" />

}

<div class="card">
    <div class="header bg-blue-grey">
        <h2>
            ثبت بررسی کد
        </h2>
    </div>
    <div class="body">

        <div class="VerticalSubmit">
            <div id="Steps" class="CommitSteps">
                <ul>
                    <li id="FirstStep" class="current" onclick="FirstStep()">
                        <a href="#FirstContent">
                            <span class="number">1.</span>
                            ثبت اطلاعات اولیه
                        </a>
                    </li>
                    <li id="SecondStep" class="disabled" onclick="SecondStep()">
                        <a href="#SecondContent">
                            <span class="number">2.</span>
                            ثبت اطلاعات تکمیلی
                        </a>
                    </li>
                </ul>
            </div>

            <div id="Content" class="CommitContent">

                <form id="ContentForm">
                    <div id="FirstContent" class="ShowDisplay">

                        <div class="row clearfix CommitContentRow">
                            <div class="col-sm-6 Margin-b">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="form-line">
                                        <label asp-for="ProjectId" class="control-label"></label>
                                        <select id="Projects" class="form-control show-tick" asp-for="ProjectId" asp-items="@(ViewBag.Projects)">
                                            <option value="">--انتخاب نمایید--</option>
                                        </select>
                                        <span asp-validation-for="ProjectId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 Margin-b" id="VersionDropdown">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="form-line">
                                        <label asp-for="VersionId" class="control-label"></label>
                                        <select id="version" class="form-control show-tick" asp-for="VersionId" asp-items="@(ViewBag.Version)">
                                            <option value="">--انتخاب نمایید--</option>
                                        </select>
                                        <span asp-validation-for="VersionId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix CommitContentRow">
                            <div class="col-sm-6 Margin-b">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="form-line">
                                        <label asp-for="AllCountRow" class="control-label"></label>
                                        <input asp-for="AllCountRow" class="form-control" />
                                        <span asp-validation-for="AllCountRow" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 Margin-b">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="form-line">
                                        <label asp-for="MatchGroups" class="control-label"></label>
                                        <input asp-for="MatchGroups" class="form-control" />
                                        <span asp-validation-for="MatchGroups" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix CommitContentRow">
                            <div class="col-sm-6 Margin-b">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="form-line">
                                        <label asp-for="AccurateMatch" class="control-label"></label>
                                        <input asp-for="AccurateMatch" class="form-control" />
                                        <span asp-validation-for="AccurateMatch" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 Margin-b">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="form-line">
                                        <label asp-for="HighMatch" class="control-label"></label>
                                        <input asp-for="HighMatch" class="form-control" />
                                        <span asp-validation-for="HighMatch" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix CommitContentRow">
                            <div class="col-sm-6 Margin-b">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="form-line">
                                        <label asp-for="NormalMatch" class="control-label"></label>
                                        <input asp-for="NormalMatch" class="form-control" />
                                        <span asp-validation-for="NormalMatch" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 Margin-b">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="form-line">
                                        <label asp-for="PoorMatch" class="control-label"></label>
                                        <input asp-for="PoorMatch" class="form-control" />
                                        <span asp-validation-for="PoorMatch" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix CommitContentRow">
                            <div class="col-sm-8 Margin-b">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="form-line">
                                        <label asp-for="Offers" class="control-label"></label>
                                        <input asp-for="Offers" class="form-control" />
                                        <span asp-validation-for="Offers" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix CommitContentRow">
                            <div class="col-sm-8 Margin-b">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="form-line">
                                        <label asp-for="ExpertComment" class="control-label"></label>
                                        <input asp-for="ExpertComment" class="form-control" />
                                        <span asp-validation-for="ExpertComment" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="SecondContent" class="hideDisplay">

                        @foreach (CodeReviewDetailType DetailType in Enum.GetValues(typeof(CodeReviewDetailType)))
                        {
                            <div class="row clearfix CommitContentRow">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="col-sm-12 Margin-b align-center lightgray">
                                        <div class="form-line">
                                            <label class="control-label"> @DetailType.ToDescription() </label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            @for (int i = 0; i < Model.CodeReviewDetailList.Count; i++)
                            {

                                if (Model.CodeReviewDetailList[i].DetailType == DetailType)
                                {
                                    @Html.Hidden("Model.CodeReviewDetailList[" + i + "].DetailType", Model.CodeReviewDetailList[i].DetailType)
                                    @Html.Hidden("Model.CodeReviewDetailList[" + i + "].IndicatorId", Model.CodeReviewDetailList[i].IndicatorId)

                                    <div class="row clearfix CommitContentRow">
                                        <div class="form-group Margin-b Margin-t">
                                            <div class="col-sm-3 Margin-b Lightblue">
                                                <div class="form-line">
                                                    <label class="control-label"> @Model.CodeReviewDetailList[i].IndicatorDesc</label>
                                                </div>
                                            </div>

                                            <div class="col-sm-1 Margin-b">
                                                <label class="control-label"> امتیاز</label>
                                            </div>

                                            <div class="col-sm-1 Margin-b">
                                                <div class="form-line">
                                                    @Html.Editor("Model.CodeReviewDetailList[" + i + "].Score", new { HtmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>

                                            <div class="col-sm-2 Margin-b">
                                                <label class="control-label"> پیشنهادات</label>
                                            </div>

                                            <div class="col-sm-4 Margin-b">
                                                <div class="form-line">
                                                    @Html.Editor("Model.CodeReviewDetailList[" + i + "].Description", new { HtmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>



                                        </div>
                                    </div>

                                }
                            }
                        }

                    </div>

                </form>
            </div>

            <div id="Actions" class="CommitAction">

                <ul>
                    <li id="previous" onclick="previousStep()" class="ShowDisplay disabled">
                        <a>قبل</a>
                    </li>
                    <li id="next" class="waves-effect ShowDisplay" onclick="nextStep()">
                        <a>بعد</a>
                    </li>
                    <li id="Finish" class="waves-effect hideDisplay" onclick="finish()">
                        <a>ثبت</a>
                    </li>
                </ul>

            </div>


        </div>
    </div>
</div>

@section Scripts
{
    @await Html.PartialAsync("_DuplicateInsertTabs")

    <script>

        $(document).ready(function() {

            $('#Projects').change(function () {

                var ProjectId = $('#Projects').val();

                $.ajax({
                    url: "@Url.Action("VersionDropDownItem", "Versions")?ProjectId=" + ProjectId  ,
                    type: "POST",
                    success: function (result) {
                        $("#VersionDropdown").html(result );

                    }
                });


            });

        });


        function finish() {

            var content = $("#ContentForm").serialize();
            debugger;
            $.ajax({
                url: "@Url.Action("PostCreateCodeReview", "ProjectInfo")",
                data: content,
                type: "POST",
                //dataType: 'json',
                /* contentType: 'application/x-www-form-urlencoded; charset=UTF-8',*/
                success: function(result) {
                    if (result.succeed) {
                        toastr["success"]("با موفقیت ثبت گردید");
                        window.location.href = '@Url.Action("CodeReview", "ProjectInfo")';
                    } else {
                        toastr["error"]("ثبت نگردید");
                        @*window.location.href = '@Url.Action("DocReview", "ProjectInfo")';*@
                    }
                }
            });


        }

    </script>
}


