@using Domain.Models.Enum
@model Core.ViewModels.CreateCodeReviewVM
@{
    ViewData["Title"] = "ثبت بررسی کد";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section Styles
{
    <style>
        .CommitSteps {
            float: right;
            width: 20%;
        }

            .CommitSteps a:hover, .CommitSteps a:active {
                display: block;
                width: auto;
                margin: 0 0.5em 0.5em;
                padding: 1em 1em;
                text-decoration: none;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }

            .CommitSteps .disabled a {
                background: #eee;
                color: #aaa;
                cursor: default;
            }

                .CommitSteps .disabled a:hover, .CommitSteps .disabled a:active {
                    background: #eee;
                    color: #aaa;
                    cursor: default;
                }

            .CommitSteps ul {
                padding: 0;
                margin: 0;
            }

            .CommitSteps > ul > li {
                float: none;
                width: 100%;
            }

            .CommitSteps a {
                display: block;
                width: auto;
                margin: 0 0.5em 0.5em;
                padding: 1em 1em;
                text-decoration: none;
            }

            .CommitSteps .number {
                font-size: 1.429em;
            }

            .CommitSteps .current a {
                background-color: #25418e;
                color: #fff;
                cursor: default;
            }

                .CommitSteps .current a:hover, .CommitSteps .current a:active {
                    background: #0a4bff;
                    color: #fff;
                    cursor: default;
                }

            .CommitSteps .done a {
                background: #9dc8e2;
                color: #fff;
            }

                .CommitSteps .done a:hover, .CommitSteps .done a:active {
                    background: #9dc8e2;
                    color: #fff;
                }

            .CommitSteps .error a {
                background: #ff3111;
                color: #fff;
            }

                .CommitSteps .error a:hover, .CommitSteps .error a:active {
                    background: #ff3111;
                    color: #fff;
                }


        .CommitContent {
            float: right;
            margin: 0 0 0.5em 0;
            width: 70%;
            min-height: 450px;
            border: 1px solid #ddd;
            display: block;
            overflow: hidden;
            position: relative;
        }

        .CommitContentRow {
            margin-right: 15px !important;
            margin-left: -15px !important;
        }

        .Margin-b {
            margin-bottom: 0px !important;
        }

        .Margin-t {
            margin-top: 5px !important;
        }


        .CommitAction {
            float: right;
            width: 100%;
            text-align: left;
        }

            .CommitAction > ul {
                display: inline-block;
                text-align: right !important;
            }

                .CommitAction > ul > li {
                    margin: 0 0 0 1em;
                }

                .CommitAction > ul > li {
                    float: right;
                }

            .CommitAction .disabled a {
                background: #eee;
                color: #aaa;
            }

            .CommitAction a {
                background: #25418e;
                color: #fff;
                display: block;
                padding: 0.5em 1em;
                text-decoration: none;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                -ms-border-radius: 0;
                border-radius: 0;
            }

                .CommitAction a:hover, .CommitAction a:active {
                    background: #0a4bff;
                    color: #fff;
                    display: block;
                    padding: 0.5em 1em;
                    text-decoration: none;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    -ms-border-radius: 0;
                    border-radius: 0;
                }

            .CommitAction .disabled a {
                background: #eee;
                color: #aaa;
            }

                .CommitAction .disabled a:hover, .CommitAction .disabled a:active {
                    background: #eee;
                    color: #aaa;
                }



        .ShowDisplay {
            display: block;
        }

        .hideDisplay {
            display: none;
        }

        .VerticalSubmit {
            display: block;
            width: 100%;
            overflow: hidden;
        }


        .Lightblue {
            background: lightblue;
        }

        .lightgray {
            background: lightgray;
        }

    </style>
}

<div class="card">
    <div class="header bg-blue-grey">
        <h2>
            ثبت بررسی کد
        </h2>
    </div>
    <div class="body">

        <div class="VerticalSubmit">
            <div id="Steps" class="CommitSteps">
                <ul>
                    <li id="FirstStep" class="current" onclick="FirstStep()">
                        <a href="#FirstContent">
                            <span class="number">1.</span>
                            ثبت اطلاعات اولیه
                        </a>
                    </li>
                    <li id="SecondStep" class="disabled" onclick="SecondStep()">
                        <a href="#SecondContent">
                            <span class="number">2.</span>
                            ثبت اطلاعات تکمیلی
                        </a>
                    </li>
                </ul>
            </div>

            <div id="Content" class="CommitContent">

                <form id="ContentForm">
                    <div id="FirstContent" class="ShowDisplay">

                        <div class="row clearfix CommitContentRow">
                            <div class="col-sm-8 Margin-b">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="form-line">
                                        <label asp-for="ProjectId" class="control-label"></label>
                                        <select id="Projects" class="form-control show-tick" asp-for="ProjectId" asp-items="@(ViewBag.Projects)">
                                            <option value="">--انتخاب نمایید--</option>
                                        </select>
                                        <span asp-validation-for="ProjectId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row clearfix CommitContentRow">
                            <div class="col-sm-6 Margin-b">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="form-line">
                                        <label asp-for="AllCountRow" class="control-label"></label>
                                        <input asp-for="AllCountRow" class="form-control" />
                                        <span asp-validation-for="AllCountRow" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 Margin-b">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="form-line">
                                        <label asp-for="MatchGroups" class="control-label"></label>
                                        <input asp-for="MatchGroups" class="form-control" />
                                        <span asp-validation-for="MatchGroups" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix CommitContentRow">
                            <div class="col-sm-6 Margin-b">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="form-line">
                                        <label asp-for="AccurateMatch" class="control-label"></label>
                                        <input asp-for="AccurateMatch" class="form-control" />
                                        <span asp-validation-for="AccurateMatch" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 Margin-b">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="form-line">
                                        <label asp-for="HighMatch" class="control-label"></label>
                                        <input asp-for="HighMatch" class="form-control" />
                                        <span asp-validation-for="HighMatch" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix CommitContentRow">
                            <div class="col-sm-6 Margin-b">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="form-line">
                                        <label asp-for="NormalMatch" class="control-label"></label>
                                        <input asp-for="NormalMatch" class="form-control" />
                                        <span asp-validation-for="NormalMatch" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 Margin-b">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="form-line">
                                        <label asp-for="PoorMatch" class="control-label"></label>
                                        <input asp-for="PoorMatch" class="form-control" />
                                        <span asp-validation-for="PoorMatch" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix CommitContentRow">
                            <div class="col-sm-8 Margin-b">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="form-line">
                                        <label asp-for="Offers" class="control-label"></label>
                                        <input asp-for="Offers" class="form-control" />
                                        <span asp-validation-for="Offers" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="SecondContent" class="hideDisplay">

                        @foreach (CodeReviewDetailType DetailType in Enum.GetValues(typeof(CodeReviewDetailType)))
                        {
                            <div class="row clearfix CommitContentRow">
                                <div class="form-group Margin-b Margin-t">
                                    <div class="col-sm-12 Margin-b align-center lightgray">
                                        <div class="form-line">
                                            <label class="control-label"> @DetailType.ToDescription() </label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            @for (int i = 0; i < Model.CodeReviewDetailList.Count; i++)
                            {

                                if (Model.CodeReviewDetailList[i].DetailType == DetailType)
                                {
                                    @Html.Hidden("Model.CodeReviewDetailList[" + i + "].DetailType", Model.CodeReviewDetailList[i].DetailType)
                                    @Html.Hidden("Model.CodeReviewDetailList[" + i + "].IndicatorId", Model.CodeReviewDetailList[i].IndicatorId)

                                    <div class="row clearfix CommitContentRow">
                                        <div class="form-group Margin-b Margin-t">
                                            <div class="col-sm-3 Margin-b Lightblue">
                                                <div class="form-line">
                                                    <label class="control-label"> @Model.CodeReviewDetailList[i].IndicatorDesc</label>
                                                </div>
                                            </div>

                                            <div class="col-sm-1 Margin-b">
                                                <label class="control-label"> امتیاز</label>
                                            </div>

                                            <div class="col-sm-1 Margin-b">
                                                <div class="form-line">
                                                    @Html.Editor("Model.CodeReviewDetailList[" + i + "].Score", new { HtmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>

                                            <div class="col-sm-2 Margin-b">
                                                <label class="control-label"> پیشنهادات</label>
                                            </div>

                                            <div class="col-sm-4 Margin-b">
                                                <div class="form-line">
                                                    @Html.Editor("Model.CodeReviewDetailList[" + i + "].Description", new { HtmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>



                                        </div>
                                    </div>

                                }
                            }
                        }

                    </div>

                </form>
            </div>

            <div id="Actions" class="CommitAction">

                <ul>
                    <li id="previous" onclick="previousStep()" class="ShowDisplay disabled">
                        <a>قبل</a>
                    </li>
                    <li id="next" class="waves-effect ShowDisplay" onclick="nextStep()">
                        <a>بعد</a>
                    </li>
                    <li id="Finish" class="waves-effect hideDisplay" onclick="finish()">
                        <a>ثبت</a>
                    </li>
                </ul>

            </div>


        </div>
    </div>
</div>

@section Scripts
{
    <script>

        function FirstStep() {
            if ($('#FirstStep').hasClass('done')) {

                // Steps
                $('#FirstStep').removeClass();
                $('#FirstStep').addClass("current");

                $('#SecondStep').removeClass();
                $('#SecondStep').addClass("done");

                // Contents

                $('#FirstContent').removeClass();
                $('#FirstContent').addClass("ShowDisplay");

                $('#SecondContent').removeClass();
                $('#SecondContent').addClass("hideDisplay");

                // Actions

                $('#previous').removeClass();
                $('#previous').addClass("ShowDisplay disabled");

                $('#next').removeClass();
                $('#next').addClass("waves-effect ShowDisplay");

                $('#Finish').removeClass();
                $('#Finish').addClass("waves-effect hideDisplay");


            }
        }


        function SecondStep() {
            if ($('#SecondStep').hasClass('done')) {

                // Steps

                $('#FirstStep').removeClass();
                $('#FirstStep').addClass("done");

                $('#SecondStep').removeClass();
                $('#SecondStep').addClass("current");

                // Contents

                $('#FirstContent').removeClass();
                $('#FirstContent').addClass("hideDisplay");

                $('#SecondContent').removeClass();
                $('#SecondContent').addClass("ShowDisplay");

                // Actions

                $('#previous').removeClass();
                $('#previous').addClass("waves-effect ShowDisplay");

                $('#next').removeClass();
                $('#next').addClass("waves-effect hideDisplay");

                $('#Finish').removeClass();
                $('#Finish').addClass("waves-effect ShowDisplay");

            }
        }


        function previousStep() {
            FirstStep();
        }


        function nextStep() {


            $('#FirstStep').removeClass();
            $('#FirstStep').addClass("done");

            $('#SecondStep').removeClass();
            $('#SecondStep').addClass("current");

            // Contents

            $('#FirstContent').removeClass();
            $('#FirstContent').addClass("hideDisplay");

            $('#SecondContent').removeClass();
            $('#SecondContent').addClass("ShowDisplay");

            // Actions

            $('#previous').removeClass();
            $('#previous').addClass("waves-effect ShowDisplay");

            $('#next').removeClass();
            $('#next').addClass("waves-effect hideDisplay");

            $('#Finish').removeClass();
            $('#Finish').addClass("waves-effect ShowDisplay");
        }


        function finish() {

            var content = $("#ContentForm").serialize();
            debugger;
            $.ajax({
                url: "@Url.Action("PostCreateCodeReview", "ProjectInfo")",
                data: content,
                type: "POST",
                //dataType: 'json',
                /* contentType: 'application/x-www-form-urlencoded; charset=UTF-8',*/
                success: function(result) {
                    if (result.succeed) {
                        toastr["success"](result.Message);
                    } else {
                        toastr["error"](result.Message);
                    }
                }
            });


        }

    </script>
}


