@using Domain.Models.Enum
@using Microsoft.CodeAnalysis
@model Core.ViewModels.CreateTestVM
@{
    ViewData["Title"] = "ثبت تحلیل سند";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section Styles
{
    <!-- Sweet Alert Css -->
    <style>
        .CommitSteps {
            float: right;
            width: 20%;
        }

            .CommitSteps a:hover, .CommitSteps a:active {
                display: block;
                width: auto;
                margin: 0 0.5em 0.5em;
                padding: 1em 1em;
                text-decoration: none;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }

            .CommitSteps .disabled a {
                background: #eee;
                color: #aaa;
                cursor: default;
            }

                .CommitSteps .disabled a:hover, .CommitSteps .disabled a:active {
                    background: #eee;
                    color: #aaa;
                    cursor: default;
                }

            .CommitSteps ul {
                padding: 0;
                margin: 0;
            }

            .CommitSteps > ul > li {
                float: none;
                width: 100%;
            }

            .CommitSteps a {
                display: block;
                width: auto;
                margin: 0 0.5em 0.5em;
                padding: 1em 1em;
                text-decoration: none;
            }

            .CommitSteps .number {
                font-size: 1.429em;
            }

            .CommitSteps .current a {
                background-color: #25418e;
                color: #fff;
                cursor: default;
            }

                .CommitSteps .current a:hover, .CommitSteps .current a:active {
                    background: #0a4bff;
                    color: #fff;
                    cursor: default;
                }

            .CommitSteps .done a {
                background: #9dc8e2;
                color: #fff;
            }

                .CommitSteps .done a:hover, .CommitSteps .done a:active {
                    background: #9dc8e2;
                    color: #fff;
                }

            .CommitSteps .error a {
                background: #ff3111;
                color: #fff;
            }

                .CommitSteps .error a:hover, .CommitSteps .error a:active {
                    background: #ff3111;
                    color: #fff;
                }


        .CommitContent {
            float: right;
            margin: 0 0 0.5em 0;
            width: 70%;
            min-height: 450px;
            border: 1px solid #ddd;
            display: block;
            overflow: hidden;
            position: relative;
        }

        .CommitContentRow {
            margin-right: 15px !important;
            margin-left: -15px !important;
        }

        .Margin-b {
            margin-bottom: 0px !important;
        }

        .Margin-t {
            margin-top: 5px !important;
        }


        .CommitAction {
            float: right;
            width: 100%;
            text-align: left;
        }

            .CommitAction > ul {
                display: inline-block;
                text-align: right !important;
            }

                .CommitAction > ul > li {
                    margin: 0 0 0 1em;
                }

                .CommitAction > ul > li {
                    float: right;
                }

            .CommitAction .disabled a {
                background: #eee;
                color: #aaa;
            }

            .CommitAction a {
                background: #25418e;
                color: #fff;
                display: block;
                padding: 0.5em 1em;
                text-decoration: none;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                -ms-border-radius: 0;
                border-radius: 0;
            }

                .CommitAction a:hover, .CommitAction a:active {
                    background: #0a4bff;
                    color: #fff;
                    display: block;
                    padding: 0.5em 1em;
                    text-decoration: none;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    -ms-border-radius: 0;
                    border-radius: 0;
                }

            .CommitAction .disabled a {
                background: #eee;
                color: #aaa;
            }

                .CommitAction .disabled a:hover, .CommitAction .disabled a:active {
                    background: #eee;
                    color: #aaa;
                }



        .ShowDisplay {
            display: block;
        }

        .hideDisplay {
            display: none;
        }

        .VerticalSubmit {
            display: block;
            width: 100%;
            overflow: hidden;
        }
    </style>
}

<div class="card">
    <div class="header bg-blue-grey">
        <h2>
            ویرایش تحلیل سند
        </h2>
    </div>
    <div class="body">

        <div class="VerticalSubmit">

            <form id="ContentForm" asp-action="EditDoc">
                @Html.HiddenFor(x => x.ProjectId)
                @Html.HiddenFor(x => x.Id)
                @for (int i = 0; i < Model.DocReviewList.Count; i++)
                {
                    @Html.Hidden("Model.DocReviewList[" + i + "].DocReviewTitle", Model.DocReviewList[i].DocReviewTitle)
                    <div class="row clearfix CommitContentRow">

                        <div class="col-sm-12">
                            <div class="form-group Margin-b Margin-t">
                                <div class="form-line">
                                    <label class="control-label">
                                        @Model.DocReviewList[i].DocReviewTitle.ToDescription()
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix CommitContentRow">
                        <div class="col-sm-5 Margin-b">
                            @foreach (DocReviewAnswer Answersub in Enum.GetValues(typeof(ProjectInfo)))
                            {

                                var _id = "DocReviewList_" + i + "_Answersub" + (int)Answersub;

                                //DocReviewList[i].DocReviewAnswer
                                <div class="col-sm-4 Margin-b">
                                    <div class="form-check form-check-inline">
                                        @*<input class="form-check-input" type="radio" name="@Model.DocReviewList[i].DocReviewAnswer" asp-for="DocReviewList[i].DocReviewAnswer" id="@(Model.DocReviewList[i].DocReviewTitle)+@((int) Answersub)" value="@((int) Answersub)">*@
                                        @Html.RadioButton("Model.DocReviewList[" + i + "].DocReviewAnswer", (int)Answersub, new { HtmlAttributes = new { @class = "form-check-input" }, @id = _id })
                                        <label class="form-check-label" for="@_id"> @Answersub.ToDescription()</label>
                                    </div>
                                </div>

                            }
                        </div>

                        <div class="col-sm-1 Margin-b">
                            <div class="form-group Margin-b Margin-t">
                                <label asp-for="@Model.DocReviewList[i].Description" class="control-label"></label>

                                @*@Html.Label("Model.DocReviewList[" + i + "].Description", Model.DocReviewList[i].Description, new { HtmlAttributes = new { @class = "control-label" }})*@
                            </div>
                        </div>

                        <div class="col-sm-5 Margin-b">
                            <div class="form-group Margin-b Margin-t">
                                <div class="form-line">
                                    @*<input asp-for="@Model.DocReviewList[i].Description" class="form-control" />*@


                                    @Html.Editor("Model.DocReviewList[" + i + "].Description", new { HtmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                    </div>

                }


                <div class="row clearfix">
                    <div class="form-group">
                        <input type="submit" value="ویرایش تحلیل" class="btn bg-green waves-effect SubmitBtn" />
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>

@section Scripts
{
    <script>

        function FirstStep() {
            if ($('#FirstStep').hasClass('done')) {

                // Steps
                $('#FirstStep').removeClass();
                $('#FirstStep').addClass("current");

                $('#SecondStep').removeClass();
                $('#SecondStep').addClass("done");

                // Contents

                $('#FirstContent').removeClass();
                $('#FirstContent').addClass("ShowDisplay");

                $('#SecondContent').removeClass();
                $('#SecondContent').addClass("hideDisplay");

                // Actions

                $('#previous').removeClass();
                $('#previous').addClass("ShowDisplay disabled");

                $('#next').removeClass();
                $('#next').addClass("waves-effect ShowDisplay");

                $('#Finish').removeClass();
                $('#Finish').addClass("waves-effect hideDisplay");


            }
        }


        function SecondStep() {
            if ($('#SecondStep').hasClass('done')) {

                // Steps

                $('#FirstStep').removeClass();
                $('#FirstStep').addClass("done");

                $('#SecondStep').removeClass();
                $('#SecondStep').addClass("current");

                // Contents

                $('#FirstContent').removeClass();
                $('#FirstContent').addClass("hideDisplay");

                $('#SecondContent').removeClass();
                $('#SecondContent').addClass("ShowDisplay");

                // Actions

                $('#previous').removeClass();
                $('#previous').addClass("waves-effect ShowDisplay");

                $('#next').removeClass();
                $('#next').addClass("waves-effect hideDisplay");

                $('#Finish').removeClass();
                $('#Finish').addClass("waves-effect ShowDisplay");

            }
        }


        function previousStep() {
            FirstStep();
        }


        function nextStep() {


            $('#FirstStep').removeClass();
            $('#FirstStep').addClass("done");

            $('#SecondStep').removeClass();
            $('#SecondStep').addClass("current");

            // Contents

            $('#FirstContent').removeClass();
            $('#FirstContent').addClass("hideDisplay");

            $('#SecondContent').removeClass();
            $('#SecondContent').addClass("ShowDisplay");

            // Actions

            $('#previous').removeClass();
            $('#previous').addClass("waves-effect ShowDisplay");

            $('#next').removeClass();
            $('#next').addClass("waves-effect hideDisplay");

            $('#Finish').removeClass();
            $('#Finish').addClass("waves-effect ShowDisplay");
        }


        function finish() {

            var content = $("#ContentForm").serialize();
            debugger;
            $.ajax({
                url: "@Url.Action("PostCreateDocReview", "ProjectInfo")?" + content,
                //data: data,
                type: "POST",
                //dataType: 'json',
                /* contentType: 'application/x-www-form-urlencoded; charset=UTF-8',*/
                success: function(result) {
                    if (result.succeed) {
                        toastr["success"](result.Message);
                    } else {
                        toastr["error"](result.Message);
                    }
                }
            });


        }

    </script>
}
