
@using Core.Helper
@using Domain.Models.Enum
@model List<Core.ViewModels.TestHeaderVM>

@{
    ViewData["Title"] = "تست بار/ فشار";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles
{
    @await Html.PartialAsync("_DatabaseLinks")
}

<div class="card">
    <div class="header bg-blue-grey">
        <h2>
            تست بار/ فشار
        </h2>
    </div>
    <div class="body">

        <a asp-controller="ProjectInfo" asp-action="CreateStressOrLoadTest" class="btn bg-green waves-effect">ثبت تست بار/ فشار</a>
        <br />
        <br />

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="table-responsive">
                            <div id="GridView">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                        <tr>
                                            <th class="align-right">نوع تست</th>
                                            <th class="align-right">عنوان تست</th>
                                            <th class="align-right">تاریخ ثبت</th>
                                            <th class="align-right">نام پروژه</th>
                                            <th class="align-right">عملیات</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th class="align-right">نوع تست</th>
                                            <th class="align-right">عنوان تست</th>
                                            <th class="align-right">تاریخ ثبت</th>
                                            <th class="align-right">نام پروژه</th>
                                            <th class="align-right">عملیات</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <th class="align-right">@item.TestType.ToDescription() </th>
                                                <th class="align-right">@item.Title</th>
                                                <th class="align-right">@item.DateInserted.GetPrsianDate()</th>
                                                <th class="align-right">@item.ProjectName</th>
                                                <th class="align-right">
                                                    <a class="btn bg-amber waves-effect" onclick="DeleteTest(@item.Id)"> حذف سند </a>
                                                    <a class="btn bg-light-green waves-effect" onclick="EditTest(@item.Id)"> ویرایش سند </a>
                                                </th>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <script>
        function DeleteStressTest(id) {
            $.ajax({
                url: "@Url.Action("DeleteStressTest", "ProjectInfo")?TestId=" + id  ,
                type: "POST",
                success: function (result) {
                    $("#GridView").html(result);

                }
            });
        }

        function EditStressTest(id) {
            window.location.href = "@Url.Action("EditStressTest", "ProjectInfo")?TestId=" + id;
        }


    </script>

    @await Html.PartialAsync("_DatatableScripts")



}

