@model Domain.Models.Account.Users
@{
    ViewData["Title"] = "ویرایش کاربر";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section Styles
{
    <style>
        .SubmitBtn {
            float: left;
            margin-left: 50px;
        }
    </style>
}

<div class="card">
    <div class="header bg-blue-grey">
        <h2>
            ویرایش کاربر
        </h2>
    </div>
    <div class="body">

        <form asp-action="EditUser">
            <div class="row clearfix">
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.DateInserted)
                @Html.HiddenFor(x => x.CreatorID)
                @Html.HiddenFor(x => x.IpAddress)
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="Family" class="control-label"></label>
                            <input asp-for="Family" class="form-control" />
                            <span asp-validation-for="Family" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="NationalCode" class="control-label"></label>
                            <input asp-for="NationalCode" class="form-control" />
                            <span asp-validation-for="NationalCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row clearfix">

                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="form-line">

                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="UserName" class="control-label"></label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row clearfix">
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="MobileNo" class="control-label"></label>
                            <input asp-for="MobileNo" class="form-control" />
                            <span asp-validation-for="MobileNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="LocalTel" class="control-label"></label>
                            <input asp-for="LocalTel" class="form-control" />
                            <span asp-validation-for="LocalTel" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="PersonnelCode" class="control-label"></label>
                            <input asp-for="PersonnelCode" class="form-control" />
                            <span asp-validation-for="PersonnelCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row clearfix">
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="GenderId" class="control-label"></label>
                            <select id="Gender" class="form-control show-tick" asp-for="GenderId" asp-items="@(ViewBag.Gender)">
                                <option value="">--انتخاب نمایید--</option>
                            </select>
                            <span asp-validation-for="GenderId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="PostId" class="control-label"></label>
                            <select id="Post" class="form-control show-tick" asp-for="PostId" asp-items="@(ViewBag.Post)">
                                <option value="">--انتخاب نمایید--</option>
                            </select>
                            <span asp-validation-for="PostId" class="text-danger"></span>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row clearfix">
                <div class="form-group">
                    <input type="submit" value="ویرایش کاربر" class="btn bg-green waves-effect SubmitBtn" />
                </div>
            </div>
        </form>
    </div>
</div>

